<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Draw Shape</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Draw" asp-action="Index">Draw Shape</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Draw" asp-action="Index">Home</a>
                        </li>                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <form class="form mb-5" method="post" action="@Url.Action("ParseInput","Draw")">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xs-9 col-sm-9 col-md-9">
                        @Html.TextBox("Instruction", TempData["instruction"], new { @class = "form-control", placeholder = "What's your instruction? eg. Draw a circle with a radius of 100", required= "required" })                                               
                    </div>


                    <div class="col-xs-3 col-sm-3" col-md-3>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <br />
                <small class="form-text text-muted">Format : @Html.Raw("Draw a(n) [shape] with a [measurement] of [amount] (and a(n) [measurement] of [amount])")</small>


            </form>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Draw Shape
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
