<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DWS Draw Shape</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container body-content">
        <form method="post" action="@Url.Action("ParseInput","Draw")">
            <div class="form-group">
                @Html.TextBox("Instruction", string.Empty, new { @class = "form-control", placeholder = "eg. Draw a circle with a radius of 100" })
                
                <small class="form-text text-muted">Format : @Html.Raw("Draw a(n) [shape] with a [measurement] of [amount] (and a(n) [measurement] of [amount])")</small>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DWS Draw Shape</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
